<mat-toolbar >
  <mat-form-field color="accent" class="search-div" >
    <input matInput (keyup) = "filterText($event.target.value)" placeholder="Search item" />
  </mat-form-field>
  <mat-icon>search</mat-icon>
  <!-- <h3>Invoices</h3> -->
  <div class="menu-bar" >
    <button mat-button (click) ="saveBtnHandler()" >
      New Invoice
    </button>
  </div>
</mat-toolbar>

<div class="mat-elevation-z8" >
  <div class="loading-shade" *ngIf="isLoading" >
    <mat-spinner color="accent" *ngIf="isLoading" ></mat-spinner>
  </div>
</div>

<div class="table-container mat-elevation-z8">


  <mat-table #table [dataSource]="dataSource" matSort >

    <!-- <ng-container matColumnDef="sr">
      <mat-header-cell *matHeaderCellDef> Sr </mat-header-cell>
      <mat-cell *matCellDef="let invoice"> {{invoice.pos}} </mat-cell>
    </ng-container> -->

    <ng-container matColumnDef="item">
      <mat-header-cell *matHeaderCellDef mat-sort-header > Item </mat-header-cell>
      <mat-cell *matCellDef="let invoice"  > {{invoice.item}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="client">
      <mat-header-cell *matHeaderCellDef mat-sort-header > Client </mat-header-cell>
      <mat-cell *matCellDef="let invoice" > {{invoice.client.firstName}} {{invoice.client.lastName}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <!-- <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef mat-sort-header > Date </mat-header-cell>
      <mat-cell *matCellDef="let invoice"> {{invoice.date | date}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="due">
      <mat-header-cell *matHeaderCellDef mat-sort-header > Due </mat-header-cell>
      <mat-cell *matCellDef="let invoice"> {{invoice.due | date}} </mat-cell>
    </ng-container> -->

    <!-- Symbol Column -->
    <ng-container matColumnDef="qty">
      <mat-header-cell *matHeaderCellDef mat-sort-header > Qty </mat-header-cell>
      <mat-cell *matCellDef="let invoice"> {{invoice.qty}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="rate">
      <mat-header-cell *matHeaderCellDef mat-sort-header > Rate </mat-header-cell>
      <mat-cell *matCellDef="let invoice"> {{invoice.rate}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="tax">
      <mat-header-cell *matHeaderCellDef mat-sort-header > Tax </mat-header-cell>
      <mat-cell *matCellDef="let invoice"> {{invoice.tax}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
      <mat-cell *matCellDef="let invoice">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item [routerLink]="[invoice._id, 'view']" >
            <mat-icon>pageview</mat-icon>
            <span>View</span>
          </button>
          <button mat-menu-item (click)="editBtnHandler(invoice._id)" >
            <mat-icon>edit</mat-icon>
            <span>Edit</span>
          </button>
          <button mat-menu-item (click)="deleteBtnHandler(invoice._id)" >
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
          </button>
        </mat-menu>
      </mat-cell>
    </ng-container>

    



    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator 
              [length]="resultsLength"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25]"
              [showFirstLastButtons]="true">
  </mat-paginator>


</div>
