<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Forgot Password</h5>
          <form class="form-signin form-container" [formGroup]="form" novalidate (ngSubmit)="onSubmit()">
            <div class="form-label-group">
              <input type="email" id="inputEmail" formControlName="email" class="form-control" placeholder="Email address" required autofocus>
              <label for="inputEmail">Email address</label>
            </div>

            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">
              <mat-spinner *ngIf="isLoading" [diameter]="20" color="accent" ></mat-spinner>
              <span *ngIf="!isLoading" >Send reset password link</span>
            </button>
            <hr class="my-4">
            <button class="btn btn-lg btn-extra-link btn-block text-uppercase" [routerLink]="['/login']" type="button">Go Back</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>